{{username}}
<table mat-table [dataSource]="(todo$ | async)!" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="SNo">
    <th mat-header-cell *matHeaderCellDef> Sno </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef>User Name </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Discription Column -->
  <ng-container matColumnDef="Discription">
    <th mat-header-cell *matHeaderCellDef> Discription </th>
    <td mat-cell *matCellDef="let element"> {{element.discription}} </td>
  </ng-container>

  <!-- TargetDate Column -->
  <ng-container matColumnDef="TargetDate">
    <th mat-header-cell *matHeaderCellDef> Target Date </th>
    <td mat-cell *matCellDef="let element"> {{element.targetDate | date}} </td>
  </ng-container>

   <!-- IsDone Column -->
   <ng-container matColumnDef="IsDone">
      <th mat-header-cell *matHeaderCellDef> Is Done </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.done">No</span>
          <span *ngIf="element.done">Yes</span>
      </td>
    </ng-container>

    <!-- Action Column -->
   <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
          <button
          mat-icon-button
          color="primary"
          type="button"
        >
          <i class="material-icons">
            edit
          </i>
        </button>
          <button
          mat-icon-button
          color="warn"
          type="button"
        >
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


